<div class="container">
    <div class="row my-5">
        <div class="col text-center">
            <h1>statistics client</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form (submit)="submit()">
                <input type="text" class="form-control form-control-lg" [(ngModel)]="search" [ngModelOptions]="{standalone: true}" />
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-5" *ngIf="loading">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="row my-5 g-0 justify-content-center">
        <div class="col-4 p-3" *ngFor="let result of results">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{result.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{result.ico}}</h6>
                    <p class="card-text">{{result.address}}</p>
                </div>
            </div>
        </div>
    </div>
</div>